<!DOCTYPE html>
<html lang="en">
<title>Organization List</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
</style>
<body>
 <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <form method="POST">
                <input class="w3-bar-item w3-button w3-padding-large w3-hide-small" type="submit" name="btn" value="EXPLORE">
                <input class="w3-bar-item w3-button w3-padding-large w3-hide-small" type="submit" name="btn" value="LOG OUT">
            </form>
        </div>
  </div>
   <div class="w3-container w3-content w3-center " style="max-width:800px; margin-top:40px;" id="band">
        <h2 class="w3-wide">ORGANIZATIONS</h2>
    </div>

  <!-- The Tour Section -->
  <div class="w3-grey" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:900px">
      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
       
        {% for val in ques %}
        <div class="w3-third  w3-margin-bottom" >
          <div class="w3-container w3-white" style="height: 205px">
            <p><b>{{val.ins}}</b></p>
            <div class="w3-dropdown-hover">
              <button class="w3-button w3-black">View</button>
              <div class="w3-dropdown-content w3-bar-block w3-border">
                {% for val2 in ques1[val.ins] %}
                 <a href="{{ url_for('quespage', ins=val.ins, orgname=ques2[val2],orgid=val2 ) }}" class="w3-bar-item w3-button">{{ques2[val2]}}, {{ques3[val2]}}</a>
                {% endfor %}
              </div>
           </div>
          </div>
        </div>
        {% endfor %}
       
      </div>
    </div>
  </div>
</body>
