<!DOCTYPE html>
<html lang="en">
<title>Corruption Detection</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {font-family: "Lato", sans-serif}
</style>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <form method="POST">
                <input class="w3-bar-item w3-button w3-padding-large" type="submit" name="btn" value="HOME">
                <input class="w3-bar-item w3-button w3-padding-large w3-hide-small" type="submit" name="btn" value="SIGN UP">
                <input class="w3-bar-item w3-button w3-padding-large w3-hide-small" type="submit" name="btn" value="LOG IN">
            </form>
        </div>
    </div>
    <div class="w3-container w3-content w3-center " style="max-width:800px; margin-top:45px;" id="band">
        <h2 class="w3-wide">SIGN UP</h2>
    </div>
    <!-- The Tour Section -->
    <div class="w3-grey" id="tour">
        <div class="w3-container w3-content w3-padding-64" style="max-width:500px">
            <div class="w3-white w3-row-padding w3-padding-32 w3-round-large" style="margin:0 -16px">
                <div class="w3-third w3-margin-bottom">
                    <div class="w3-container w3-white">
                        <div id="formContent">
                            <form method="POST">
                                <input type="email" id="login" class="w3-input  w3-margin-bottom" style="width: 230px" name="email" placeholder="email">
                                <input type="password" id="password" class="w3-input  w3-margin-bottom" style="width: 230px" name="password" placeholder="password">
                                <input type="password" id="password" class="w3-input w3-margin-bottom" style="width: 230px" name="repassword" placeholder="re-type password">
                                <button type="submit" name="btn" class="w3-button w3-black w3-margin-bottom" value="submit">SIGN UP</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>